body {
  font-family: Arial, sans-serif;
}

.testimonials {
  margin: 10px;
  padding: 30px;
  background-color: #f5f5f5;
}

div {
  padding: 20px;
  background-color: white;
  font-size: 10px;
  border: 1px solid #ddd;
	margin:10px;
}

.author {
  font-style: italic;
  text-align: right;
}
